<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Stupid Coaching</title>
</head>
<body>
  <div class="wrapper">
    <div class="container">
      <h1>Stupid Coaching<h1>
      <div class="user-question">
        <p>user-question</p>
        <p>username</p>
      </div>

      <div class="coach-answer">
        <p>coach-answer</p>
        <p>coachname</p>
      </div>
    </div>
  </div>

</body>
</html>





